{{#if authenticated}}
    {{> navBar userLoggedIn=true }}
{{else}}
    {{> navBar userLoggedIn=false name=userName }}
{{/if}}

   <div id="loadCartDiv"></div>
   <script src="js/mycart.js"></script>


  