{{#if authenticated}}
    {{> navBar userLoggedIn=true }}
{{else}}
    {{> navBar userLoggedIn=false name=userName }}
{{/if}}

   <div class="wrap cf">
        <h6 class="projTitle">Your Total : <span>$21.00</span><a href="#" class="btn" id="proceedCheckOut">Proceed To CheckOut</a></h6>        
        <div class="heading cf">
            <h1>My Cart</h1>
            <a href="#" class="btn continue">Continue Shopping</a>
        </div>
        <div class="cart">
            <ul>
                <li class="items">
                    <div class="itemsWrap">
                        <div class="itemSection">
                            <img class="itemImg" src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="PRODUCT IMAGE SRC" class="itemImg" />
                            <p class="itemDescription">PRODUCT DESCRIPTION</p>
                            <h3 class="itemTitle">PRODUCT TITLE</h3>
                            <p class="itemPrice">$5.00</p>
                            <p class="itemQty">Quantity: <button class="inc-dec-btn btn-primary"> - </button><input type="text" style="display:inline-block;width:2em;padding:0em 1em" class="qtyInput" placeholder="3" /><button class="inc-dec-btn btn-primary"> + </button></p>
                            <!-- <p class="itemStockStatus">PRODUCT STATUS STOCK</p> -->
                        </div>
                        <div class="itemSection prodTotal">
                            <p class="itemPrice">$15.00</p>
                        </div>
                        <div class="itemSection removeWrap">
                            <a href="#" class="itemRemove">x</a>
                        </div>
                        </div>                    
                </li>
            </ul>
        </div>

        <div class="promoCode">
            <label for="promo">Have A Promo Code?</label>
            <input type="text" name="promo" placholder="Enter Code" />
            <a href="#" id="promoButton" class="btn"></a>
        </div>

        <div class="subtotal cf">
            <ul style="list-style-type: none">
                <li class="totalRow"><span class="subTotalLabel">Subtotal</span><span class="subTotalValue">$15.00</span></li>
                <li class="totalRow"><span class="subTotalLabel">Shipping</span><span class="subTotalValue">$5.00</span></li>
                <li class="totalRow"><span class="subTotalLabel">Tax</span><span class="subTotalValue">$1.00</span></li>
                <li class="totalRow finalValue"><span class="subTotalLabel">Total</span><span class="subTotalValue">$21.00</span></li>
                <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
            </ul>
        </div>
    </div>


