{{#if authenticated}}
    {{> navBar userLoggedIn=true }}
{{else}}
    {{> navBar userLoggedIn=false name=userName }}
{{/if}}

<div id="productViewContainer"></div>


<script src="/js/product.js"></script>
