.list-group-item {
  line-height: 2.5;
}

.top-bar {
  overflow: hidden;
}

/* END TOP BAR STYLES */

/* STYLING FOR PRODUCT CARDS */
.box-area {
  margin: 8% 0;
}

.single-box {
  position: relative;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 5px 5px 15px #000;
}

.box-img {
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.box-img img {
  width: 100%;
  transition: .3s;
  object-fit: contain;
  max-width: 100%;
}

.single-box:hover .box-img img {
  transform: scale(1.1);
}

.box-content {
  height: 120px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: .4s;
  background: #fff;
  z-index: 5;
}

.single-box:hover .box-content {
  height: 150px;
}

.upper-info {
  padding: 5px 20px 5px 20px;
  transition: .5s;
}

.upperinfo h3 {
  text-transform: uppercase;
  color: #000;
  font-style: italic;
  font-size: 16px;
  margin: 5px;
  font-family: serif;
}

.single-box:hover .upperinfo h3 {
  color: crimson;
}

.single-box:hover .upperinfo p {
  color: #fff;
}

.single-box:hover .box-content {
  background: #000;
}

.single-box:hover .button-group .button {
  z-index: 6;
}

.upper-info p {
  margin-top: 15px;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2em;
}

.lower-info {
  color: #fff;
  padding: 0 10px 5px;
}

@media only screen and (max-width: 767px) {
  .single-box {
    margin-bottom: 30px;
  }
}

/* END FULL SIZE PRODUCT CARD STYLING, BEGIN EXTRA FOR SMALL CARDS */
.single-box-small {
  position: relative;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 5px 5px 15px #000;
}

.single-box-small:hover .box-img img {
  transform: scale(1.1);
  filter: blur(.5em);
}

.buttons .button-group {
  display: none;
  position: absolute;
}

.buttons .button-group {
  width: 100%;
  transition: .3s;
  object-fit: contain;
  max-width: 100%;
}

.single-box-small:hover .buttons .button-group {
  display: block;
  position: absolute;
  bottom: 0;
  left: 8%;
  z-index: 5;
  align-content: center;
}