body {
  background-image: radial-gradient(#bdc3c7, #2c3e50);
}
.button {
  border: 2px solid black;
  border-radius: 10%;
  font-size: 1em;
}
.button:hover {
  color: #fff;
  border: 2px solid white;
  border-radius: 20%;
  background: black;
}

/* STYLING FOR PRODUCT CARDS */
.box-area {
  margin: 8% 0;
}
.single-box {
  position: relative;
  padding-bottom: 70px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 5px 5px 15px #000;
}
.box-img {
  position: relative;
  z-index: 5;
  overflow: hidden;
  border-radius: 25px;
}
.box-img img {
  width: 100%;
  transition: 0.3s;
  object-fit: contain;
  max-width: 100%;
  border-radius: 25px;
}
.single-box:hover .box-img img {
  transform: scale(1.1);
}
.box-content {
  height: 120px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: 0.4s;
  background: #fff;
  z-index: 5;
  border-radius: 25px;
}
.single-box:hover .box-content {
  height: 150px;
}
.upper-info {
  padding: 5px 20px 5px 20px;
  transition: 0.5s;
}
.upperinfo h3 {
  text-transform: uppercase;
  color: #000;
  font-style: italic;
  font-size: 16px;
  margin: 5px;
  font-family: serif;
}
.single-box:hover .upperinfo h3 {
  color: crimson;
}
.single-box:hover .upperinfo p {
  color: #fff;
}
.single-box:hover .box-content {
  background: #000;
}
.single-box:hover .button-group .button {
  z-index: 6;
}
.upper-info p {
  margin-top: 15px;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2em;
}
.lower-info {
  color: #fff;
  padding: 0 10px 5px;
}
@media only screen and (max-width: 767px) {
  .single-box {
    margin-bottom: 30px;
  }
}
/* END FULL SIZE PRODUCT CARD STYLING, BEGIN EXTRA FOR SMALL CARDS */
.single-box-small {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 5px 5px 15px #000;
  border-radius: 25%;
}
.single-box-small:hover .box-img img {
  transform: scale(1.1);
  filter: blur(0.5em);
}
.buttons .button-group {
  display: none;
  position: absolute;
}
.buttons .button-group {
  width: 100%;
  transition: 0.3s;
  object-fit: contain;
  max-width: 100%;
}
.single-box-small:hover .buttons .button-group {
  display: block;
  position: absolute;
  bottom: 0;
  left: 8%;
  z-index: 5;
  align-content: center;
}
/* END SMALL PRODUCT CARD STYLES */

/* FRONT PAGE STYLES */
.cell-design {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px #000;
  border-radius: 25px;
}
.cell-clear {
  background-color: silver;
}
.cell-contain {
  object-fit: contain;
}
.cell-logo {
  padding: 10px 10px 10px 10px;
}
.top-bar .top-bar-left ul {
  z-index: 100;
}

/* Product Page Styling */
.product-container {
  margin: 10px auto;
}
.searchResult {
  min-width: min-content;
}

.imageSection {
  height: 230px;
}

.imageSection img {
  max-height: 100%;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
}

.cardPrice {
  align-self: flex-end;
}

.accountContainer {
  background: white;
  width: 50%;
  margin: 10px auto;
  padding: 30px;
}

.editButton,
.doneButton {
  float: right;
}

#large-product-image {
  max-width: 80%;
  padding: 10px;
}

/* login styles*/
form.signup,
form.login {
  margin-top: 50px;
}

#loginForm,
#registerForm {
  display: none;
  position: fixed;
  top: 20%;
  right: 40%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* .form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

/*end of  login styles*/

/* Cart Page Styling */
.cartHeader{
  max-width: 800px;
  margin: 0 auto;
}
.text-align {
  text-align: center;
}


.checkout-summary {
  margin: 0 auto;
  max-width: 800px;
  background-color: #fefefe;
  border-radius: 25px;
}

.checkout-summary-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.checkout-summary-item {
  display: flex;
  justify-content: space-between;
}

.checkout-summary-item .item-name,
.checkout-summary-item .item-price {
  padding: 0 1rem;
}

.checkout-summary-item .item-name p,
.checkout-summary-item .item-price p {
  margin: 0;
  padding: 0;
}

.checkout-summary-item .title {
  font-weight: bold;
}

.checkout-summary-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}